.input {
    width: 150px;
    height: 30px;
    background-color: rgb(210, 224, 236);
    border-radius: 10px;
    border-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px auto 0 auto;
    display: flex;
  }
  